/*index*/
.menu_index {background-color: white;
        border: 3px solid #337AB7;
        border-radius: 6px;}

.menu_index a {font: 20px 'Bangers', cursive;}

body.page_Index {
    color: white;
    background-color: black;
    background-image: url("back.jpg");
    background-position: top;
    background-size: auto;}

@media screen and (min-width: 768px) {
    body.page_Index {
        color: white;
        background-image: url("back.jpg");
        background-position: top;
        background-size: auto;}

}

.welcome{
    text-align: center;
    width: 40%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;}


/*projects*/
.menu_projects {background-color: white;
    border: 3px solid #337AB7;
    border-radius: 6px;}

.menu_projects a { font: 20px 'Bangers', cursive;}


body.page_Project {
    color: white;
    background-position: top;
    background-size: cover;
    background-image: url("pro.jpg");}

@media screen and (min-width: 768px) {
    body.page_Project {
        color: white;
        background-position: top;
        background-size: cover;
        background-image: url("pro.jpg");}

}

.projects {
    border: 3px solid lightskyblue;
    background-color: rgba(0, 50, 100, 0.6);
    width: 40%;
    margin-left: auto;
    margin-right: auto; }

/*Me*/
.menu_me {
    background-color: white;
    border: 3px solid #337AB7;
    border-radius: 6px;}

.menu_me a { font: 20px 'Bangers', cursive;}

body.Page_me {
    color: white;
    background-image: url("Me.jpg");
    background-position: top;
    background-size: auto;}

@media screen and (min-width: 768px) {
    body.Page_me {
        color: white;
        background-image: url("Me.jpg");
        background-position: top;
        background-size: auto;}

}

.text_me {text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto; }

/*contact*/
.menu_contact {background-color: white;
    border: 3px solid #337AB7;
    border-radius: 6px;}

.menu_contact a {font: 20px 'Bangers', cursive;}

body.page_contact {
    color: white;
    background-image: url("contact2.jpg");
    background-position: top;
    background-size: auto;}

@media screen and (min-width: 768px) {
    body.page_contact {
        color: white;
        background-image: url("contact2.jpg");
        background-position: top;
        background-size: auto;}

}
.Contact_info {
    text-align: center;
    width: 40%;
    margin-top: 22%;
    margin-left: auto;
    margin-right: auto;}




/* setup overall text*/
p { text-align: center;}

h1 {text-align: center;}

h3 {text-align: center}

h4 {text-align: center}


